@using System
@using System.Threading.Tasks
@using BlazorSorting
@using Microsoft.AspNetCore.Components
<a style="cursor: pointer;" @onclick="() => OnSorting(ColumnName)">
    @((string.IsNullOrEmpty(DisplayText) ? ColumnName : DisplayText))
    @if (S.SortBy == ColumnName)
    {
        if (S.Direction == Direction.Ascending)
        {
            <i class="fa fa-fw fa-sort-up text-dark"></i>
        }
        else
        {
            <i class="fa fa-fw fa-sort-down text-dark"></i>
        }
    }
    else
    {
        <i class="fa fa-fw fa-sort text-light"></i>
    }
</a>

@code {
    [Parameter] public Parameters S { get; set; }
    [Parameter] public Func<string, Task> OnSort { get; set; } = null;
    [Parameter] public string DisplayText { get; set; }
    [Parameter] public string ColumnName { get; set; }

    private void OnSorting(string s)
    {
        OnSort?.Invoke(s);
    }

}
